section.section.best
  .best__wrap
    .container
      h2.best__header Лучшие работы
  .img_wrapper.js-over#scene(data-calibrate-y="false", data-relative-input="true", data-scalar-x="15")
    ul.img_over.parallax-layer(data-depth="0.8")
      include ../static/img_wrapper