section.section.explore
  .container
    h2 Исследование
    .explore__text
      .row
        .col
          .banner
            span.banner__title Рабочая среда
            p.banner__text.
              Разбор бизнес-процессов, схемы работы и анализ продукта.
          .banner
            span.banner__title Средства коммуникации
            p.banner__text.
              Технический аудит, соответствие атрибутам бренда, анализ конкурентов.
        .col
          .banner
            span.banner__title Эмоциональное восприятие
            p.banner__text.
              Определение атрибутов бренда и целевой<br> аудитории.

