section.section.paralax
  .back2
    .back_tr2(style="clip-path: url(#mask2)")
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1920 310')
        g
          clippath#mask2
            polygon.cls-1(points='0 130 0 180 1920 310 1920 0 0 130' fill-opacity="0")
      .parallax_wrapper
        .back2__img2.rellax(data-rellax-speed="1")
        .digi2.rellax(data-rellax-speed="-3")
              .container
                .digi_item2 02
