section.section.second
  .back
    .back_tr(style="clip-path: url(#mask1); -webkit-clip-path: url(#mask1);")
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1920 468')
        g
          clippath#mask1
            polygon.cls-1(points='0 418 0 468 1920 338 1920 0 0 418')
      .back__img.rellax(data-rellax-speed="1")
      .digi.rellax(data-rellax-speed="-3")
          .container
            .digi_item 01
  .arrow
    .arrow_txt Подход к работе