section.section.strategy
  .container
    h2.strategy__header Стратегия
    .explore__text
      .row
        .col
          .banner
            span.banner__title Сегментация ЦА
            p.banner__text.
              Обозначение ядра целевой аудитории
              и распределение его на отдельные сегменты по атрибутам.
              Определение точек воздействия.
          .banner
            span.banner__title Медиаплан
            p.banner__text.
              Расчет сроков и стоимости реализации. Прогноз ожидаемого результата.
        .col
          .banner
            span.banner__title Способы продвижения
            p.banner__text.
              Формируем подход к взаимодействию бренда с целевой аудиторией.
          .banner
            span.banner__title Карта развития
            p.banner__text.
              Построение долгосрочного плана по достижению целей бизнеса