section.section.third
  .back3
    .back_tr3(style="clip-path: url(#mask3)")
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1920 468')
        g
          clippath#mask3
            polygon.cls-1(points='0 50 0 0 1920 130 1920 468 0 50')
      .parallax_wrapper
        .back3__img3.rellax(data-rellax-speed="1")
        .digi3.rellax(data-rellax-speed="-3")
          .container
            .digi_item3 03
    .third_text
      .container
        .third_text__block
          h2 Оптимизация
          p.
            Имплементация утвержденной стратегии в действие. Отслеживание ключевых
            показателей эффективности коммуникации. Оптимизация работы и рекомендации по
            улучшению внутренних процессов, исходя из результатов аналитики. Автоматизация
            возможных этапов деятельности.
