section.section.team_page
  .container
    h2.light-grey Команда
  .team_page__wrapper
    .team_page__obj
      include ../static/team_static
    .team_page__obj
      include ../static/team_static
    .team_page__obj
      include ../static/team_static
    .team_page__obj
      include ../static/team_static