section.section.portfolio
  .container
    h2.light-grey Портфолио
  .portfolio__wrapper
    .portfolio__obj
      .img_wrapper.js-over
        ul.img_over.parallax-layer
          include ../static/img_wrapper
    .portfolio__obj
      .img_wrapper.js-over
        ul.img_over.parallax-layer
          include ../static/img_wrapper
    .portfolio__obj
      .img_wrapper.js-over
        ul.img_over.parallax-layer
          include ../static/img_wrapper
    .portfolio__obj
      .img_wrapper.js-over
        ul.img_over.parallax-layer
          include ../static/img_wrapper