footer.footer
   .container
      .footer__wrapper
         .footer__info
            a(href="tel:+74993946202") +7 (499) 394 62 02
            a(href="mailto:info@startjulo.ru") info@startjulo.ru
         .footer__social
            a(href="#")
               img(src="img/facebook.svg",alt="facebook")
            a(href="#")
               img(src="img/insta.svg",alt="facebook")
            a(href="#")
               img(src="img/vk.svg",alt="facebook")



