header.header
  .header-js
    .header_wrapper.header_height
      .menu_driver
        .menu_objects
          .logo
            a(href="/")
              img(src="img/combined-shape.svg" alt="logo")
          nav.nav
            ul.nav_list
              li.nav_list__item
                a(href="/portfolio.html") Портфолио
              li.nav_list__item
                a(href="/team.html") Команда
              li.nav_list__item
                a(href="/contacts.html") Контакты
    .header-js__mob.fixed
      .header_wrapper.header_height--mob
        .menu_driver--mob
          .menu_objects
            .logo
              a(href="/")
                img(src="img/combined-shape.svg" alt="logo")
            nav.nav
              ul.nav_list
                li.nav_list__item
                  a(href="/portfolio.html") Портфолио
                li.nav_list__item
                  a(href="/team.html") Команда
                li.nav_list__item
                  a(href="/contacts.html") Контакты

