li.img_item
  .img_item__img(style="background-image: url(img/image1.3x.jpg);")
  .img_item__title
    h3 Металлургическая трейдинговая компания
  .img_item__hover
    .img_item__hover_container
      .img_item__hover_title
        span СнабСервис
      .img_item__hover_desc.
         Разработка интернет приложения для взаимодействия с клиентами
      .img_item__hover_links
        span.img_item__hover_site Сайт
        span.img_item__hover_logo Логотип
        span.img_item__hover_style Фирменный стиль
li.img_item
  .img_item__img(style="background-image: url(img/image2.3x.jpg);")
  .img_item__title
    h3 Фитнесс клуб с большими планами
  .img_item__hover
    .img_item__hover_container
      .img_item__hover_title
        span СнабСервис
      .img_item__hover_desc.
        Разработка интернет приложения для взаимодействия с клиентами
      .img_item__hover_links
        span.img_item__hover_site Сайт
        span.img_item__hover_logo Логотип
        span.img_item__hover_style Фирменный стиль
li.img_item
  .img_item__img(style="background-image: url(img/image3.3x.jpg);")
  .img_item__title
    h3 Архитектурные алюминевые профили
  .img_item__hover
    .img_item__hover_container
      .img_item__hover_title
        span СнабСервис
      .img_item__hover_desc.
        Разработка интернет приложения для взаимодействия с клиентами
      .img_item__hover_links
        span.img_item__hover_site Сайт
        span.img_item__hover_logo Логотип
        span.img_item__hover_style Фирменный стиль