.team_block
  .team_block__item
    .team_block__img_box
      .team_block__img_circle
      .team_block__img
        img.js-img(src="img/bitmap_left.png",alt="Сотрудник")
    .team_block__text_box
      h3.team_block__title Кирилл Голиков
      span.team_block__position Исполнительный директор
  .team_block__item
    .team_block__img_box
      .team_block__img_circle
      .team_block__img
        img.js-img(src="img/bitmap_right.png",alt="Сотрудник")
    .team_block__text_box
      h3.team_block__title Кирилл Голиков
      span.team_block__position Исполнительный директор
  .team_block__item
    .team_block__img_box
      .team_block__img_circle
      .team_block__img
        img.js-img(src="img/bitmap_left.png",alt="Сотрудник")
    .team_block__text_box
      h3.team_block__title Кирилл Голиков
      span.team_block__position Исполнительный директор