include ../mixines/mixines

doctype html
html(lang='ru-RU')
   head
      meta(charset='utf-8')
      block title
      meta(name='description', content='')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')


   body
      block content

      link(rel='stylesheet', href='css/main.css')
      //link(rel='stylesheet', href='libs/jquery.parallax.css')

      script(type="text/javascript" src='libs/jquery/jquery.min.js')
      //script(src="https://code.jquery.com/jquery-migrate-3.0.1.js")
      //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js")
      script(type="text/javascript" src='js/common.js')
      script(type="text/javascript" src='libs/auoresize-textarea.js')
      script(type="text/javascript" src='libs/rellax.min.js')
      //script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
      //script(type="text/javascript" src='libs/jquery.parallax.min.js')



