extends libs/layout

block title
  title Контакты

block content
  //header
  include includes/static/header

  //contacts
  include includes/contacts/contacts
  include includes/contacts/contacts_form

  //footer
  include includes/static/footer