extends libs/layout

block title
    title Главная

block content
    //.tech
    //    h3 Scroll: <span></span>
    //header
    include includes/static/header

    //first section
    include includes/index/first_section
    //second section
    include includes/index/second_section
    //explore sections
    include includes/index/explore
    //second paralax
    include includes/index/second_paralax
    //strategy section
    include includes/index/strategy
    //third paralax
    include includes/index/third_paralax
    //best section
    include includes/index/best
    //team section
    include includes/index/team

    //footer
    include includes/static/footer


