extends libs/layout

block title
  title Портфолио

block content
  //header
  include includes/static/header

  //portfolio
  include includes/portfolio/portfolio

  //footer
  include includes/static/footer