extends libs/layout

block title
  title Портфолио

block content
  //header
  include includes/static/header

  //team section
  include includes/team/team

  //footer
  include includes/static/footer