section.section.contacts
  .container
    .contacts__header.light-grey Контакты
    .contacts__wrapper.row
      .col
        .info
          .info__title Телефон
          a.info__obj(href="tel:+74993946202") +7 (499) 394 62 02
        .info
          .info__title Адрес
          span.info__obj Нижегородская, 29-33с1
      .col
        .info
          .info__title Почта
          a.info__obj(href="mailto:info@startjulo.ru") info@startjulo.ru
